*{
    margin: 0%;
    padding: 0%;
    background-color: black;
}
h2{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}
.block{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hours,#minutes,#seconds,#session
{
    color: purple;
}